body {
  background: #24252D;
  color: #CACACC;
  font-family: 'Roboto Mono', monospace;
  font-size: .8em;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 650px;
}
h1 {
  font-weight: 400;
  margin: 0;
  color: #10A2F5;
}
h2 {
  color: #696A6F;
  font-weight: 300;
  margin: 0 0 .5em 0;
}
.links {
  margin: 0 0 1.5em 0;
}
.links a {
  color: #CACACC;
  margin: auto 1em auto 0;
}
.intro {
  margin: 0 0 2em 0;
}
.intro a {
  color: #E9BC3F;
  text-decoration: none;
}
.intro .title {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  margin: .8em 0;
}
.intro .title:before {
  content: '[+] ';
}
.intro .exp {
  display: none;
}
.intro ul {
  list-style-type: none;
  padding: 0;
}
.intro ul li {
  margin: 2em 0;
}
.changelog {
  margin: 0 0 2em 0;
}
.changelog a {
  color: #E9BC3F;
  text-decoration: none;
}
.changelog .title {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  margin: .8em 0;
}
.changelog .title:before, .projects .title:before, .interests .title:before {
  content: '[+] ';
}
.changelog .exp, .projects .exp, .interests .exp {
  display: none;
}
.changelog ul, .projects ul, .interests ul {
  list-style-type: none;
  padding: 0;
}
.changelog ul li, .projects ul li, .interests ul li {
  margin: 2em 0;
}
.changelog li, .projects li, .interests li {
  display: flex;
  justify-content: flex-start;
}
.changelog li .left {
  color: #696A6F;
  font-weight: 300;
  min-width: 200px;
}
.projects li .left, .interests .left {
  font-weight: bold;
  min-width: 200px;
}
.changelog li .left:before, .projects li .left:before, .interests li .left:before {
  content: '';
  display: inline-block;
  width: .7em;
  height: .7em;
  border-radius: 100%;
  margin: 0 2em 0 0;
}
.projects li .left:before {
  border-radius: 0%;
}
.interests li .left:after {
  font-family: FontAwesome;
  position: relative;
  float: right;
  margin-right: 25px;
  font-size: 32px;
}
.interests .red .left:after  {
  color: #EB4888;
}
.interests .green .left:after {
  color: #24D05A;
}
.interests .blue .left:after {
  color: #10A2F5;
}
.interests li .forum:after {
  content: "\f086";
}
.interests li .music:after {
  content: "\f001";
}
.interests li .code:after {
  content: "\f121";
}
.interests li .game:after {
  content: "\f1b7";
}
.interests li .family:after {
  content: "\f004";
}
.interests li .server:after {
  content: "\f233";
}
.changelog li .desc, .projects li .desc, .interests li .desc {
  display: flex;
  flex-direction: column;
}
.changelog li .desc .info {
  visibility: hidden;
  max-height: 0;
  transition: visibility 0s, max-height 0.5s linear;
}
.changelog li .desc:hover .info {
  visibility: visible;
  max-height: 100px;
  transition: max-height 0.5s linear;
}
.changelog .loading {
  animation: blinker 1s linear infinite;
  margin: 1em 0 0 0;
}
.changelog .loading.hide {
  display: none;
}
.projects, .interests {
  margin: 0 0 2em 0;
}
.projects a, .interests a {
  color: #E9BC3F;
  text-decoration: none;
}
.projects .title, .interests .title {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  margin: .8em 0;
}
.projects .loading, .interests .loading {
  animation: blinker 1s linear infinite;
  margin: 1em 0 0 0;
}
.projects .loading.hide, .interests .loading.hide {
  display: none;
}
.expand .title {
  cursor: pointer;
}
.expand .title:before {
  content: '[-] ';
}
.expand .exp {
  display: block;
}
@keyframes blinker {
  50% {
    opacity: 0.0;
  }
}
.end {
  margin: 0 0 2em 0;
}
.end a {
  color: #E9BC3F;
  text-decoration: none;
}
.end .title {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  margin: .8em 0;
}
.end .title:before {
  content: '[+] ';
}
.end .exp {
  display: none;
}
.end ul {
  list-style-type: none;
  padding: 0;
}
.end ul li {
  margin: 2em 0;
}
.job .left:before, .green .left:before {
  background: #24D05A;
}
.job em, .green em {
  color: #24D05A;
  font-style: normal;
}
.event .left:before, .red .left:before {
  background: #EB4888;
}
.event em, .red em {
  color: #EB4888;
  font-style: normal;
}
.school .left:before, .blue .left:before {
  background: #10A2F5;
}
.school em, .blue em {
  color: #10A2F5;
  font-style: normal;
}
.flash {
  animation: 1s flash infinite;
}
@keyframes flash {
  0% {
    text-shadow: 0px 0px 5px #cacacc;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 5px #cacacc;
  }
}
@media (max-width: 600px) {
  .changelog li .left, .projects li .left, .interests li .left {
    min-width: 160px;
  }
  .links a {
    margin: auto 1.5em auto 0;
  }
}
@font-face {
font-family: "FontAwesome";
font-weight: normal;
font-style : normal;
       src : url("https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/fonts/fontawesome-webfont.eot");
       src : url("https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/fonts/fontawesome-webfont.eot") format("embedded-opentype"),
             url("https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/fonts/fontawesome-webfont.woff2") format("woff2"),
             url("https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/fonts/fontawesome-webfont.woff") format("woff"),
             url("https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/fonts/fontawesome-webfont.ttf") format("truetype"),
             url("https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/fonts/fontawesome-webfont.svg") format("svg");
}
